<p>
  <strong>Article Title:</strong>
  <%= @article.title %>
  <strong>Block size:</strong>
  <%= @experiment.blockSize %>

  <% @blocks.each do |block| %>
    <p>
      <%= block %>
    </p>

<% end %>

</p>