<p>
  <strong>Article Title:</strong>
  <%= @article.title %>
  <strong>Block size:</strong>
  <%= @experiment.blockSize %>
  <p>
    <% @blocks.each do |block| %>
        <strong>{ </strong>
        <%= block %>
        <strong> }</strong>
    <% end %>
  </p>


</p>