<p>
  <strong>Article Title:</strong>
  <%= @article.title %>
  <strong>Block size:</strong>
  <%= @experiment.blockSize %>
  <p>
    <% @blocks.each do |block| %>
        <strong>{ </strong>
        <%= block %>
        <strong> }</strong>
    <% end %>
  </p>

  <%= column_chart @blocks_by_word_count_divided_by_sign_count, :library => {:title => "Word Count divided by sign count", :width => "400px"} %>


</p>